body {
  font-family: "Open Sans", sans-serif;
  background-color: #0D3D56;
  color: #FFFFFF;
  font-size: 16px;
  }

h1 {
text-align: center;
  text-transform: uppercase; /* All characters in 'Designer' will be uppercase */
  text-transform: lowercase; /* All characters will be lowercase */
  text-transform: capitalize; /* The first letter of the word will be capitalized */
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

h2 {
  display: block;
  font-size: 1.17em;
  line-height: 1.2; /* within paragraph */
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
}

h3 {
  display: block;
  font-size: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

p {
display: block;
line-height: 1.5; /* within paragraph */
text-align: left;
font-weight: 300;
color: #FFFFFF;
font-size: 16px;
font-weight: 400;
margin-bottom: 20px; /* between paragraphs */
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
  background-image: url(https://github.com/Shuchij/css-exercise-two/blob/master/images/bloc-logo.png); no-repeat; top; center;
}

a:link, a:visited {
    font-family: "Open Sans", sans-serif;
    background-color: #CD594A;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: white;
    color: black;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  display: block;
  float: center;
  width: 50%;
  text-align: left;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
}

figure {
  display: table;
}

figcaption {
  padding: 0.5em;
  text-align: center;


  }

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
